@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');


:root {
  --dist:0%;
  --scale:2;
  --deg:10deg;
}

p {
  animation: moveIn 2s linear both;
  margin:0.75rem 0;
}

@keyframes moveIn {
  0% {
    transform: translateX(-325%) scale(1) rotate(0deg);
  }
  100% {
    transform: translateX(var(--dist)) scale(var(--scale))rotate(var(--deg));
  }
}

p:nth-of-type(1) { 
  --scale:1.75;
  --dist:80%;
  --deg:5deg;
  color: white;
}

p:nth-of-type(2) {
  --scale:1.5;
  --dist:30%;
  color: #59C3C3;
}

p:nth-of-type(3) {
  --deg: -5deg;
  --dist: 100%;
  color: #fbacbe;
}

p:nth-of-type(4) {
  --scale: 1.9;
  --deg: 15deg;
  color: #DCF2B0;
}

body {
  background: #433F55;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size:3.5rem;
  font-weight: 700;
  padding-top: 8rem;
  display:flex;
  justify-content: center;
  overflow:hidden;
}


